.button{
    color:#F4F4F4;
    margin-bottom:50px;
    width: 115px;
    height:35px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.add{
    background-color: #82C762;
}

.remove{
    background-color: #EB5939;
}