.button{
    background: (255,255,255,0.8);
    color:#000;
    margin-bottom:50px;
    width: 115px;
    height:35px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.add{
    color:#F4F4F4;
    background-color: #82C762;
}

.remove{
    color:#F4F4F4;
    background-color: #EB5939;
}